
    <main class="IMain">
        <div class="Tittle">
            <h1 class="TittleAnimation">Welcome to CLEAN SKIN</h1>
        </div>
        <section class="Cards">
        {{#each producto}}
        <div class="Card">
            <figure class="Card-image">
                <img src="{{ imagen }}" alt="{{ nombre }}">
            </figure>
            <div class="CardCont">
                <h2>{{ nombre }}</h2>
                <p>${{ precio }}</p>
                <p class="description">{{ descripcion }}</p>
                <form action="/api/carrito/agregarAlCarrito/{{ this._id }}" method="post">
                    <button class="btn">Agregar al carrito</button>
                </form>
            </div>
        </div>
        {{/each}}
    </section>
        
    </main>
